$bold: "Biennale-Bold";

.header {
  position: relative;
  height: 100px;
  overflow: hidden;
  color: white;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  .headerText {
    font-family: $bold;
    font-size: 36px;
    color: white;
    text-decoration: none;
  }
}
