.App {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.background {
  background-image: url("./images/background.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
